<h1> Welcome to Weedout! </h1>
<p class="lead">
Let's face it, we all know the size of wait lists has gotten out of hand and its time we do something
about it!
Weedout is a new tool for professors and students at Columbia to reduce the size of waitlists for their classes.
</p>
<div class="span4 offset1">
  <h2 class="text-center">Professors</h2>
  <p class="lead">Use Weedout to create an enrollment class for your test.</p> 
  <ul>
    <li>Create a quick survey of questions for your class.</li>
    <li>Let students take the test</li>
    <li>Review scores and head over to the registrar to approve students!</li>
  </ul>
</div>
<div class="span4">
  <h2 class="text-center">Students</h2>
  <p class="lead">Use Weedout to guarantee yourself a spot in a class.</p> 
  <ul>
    <li>Pick a class you want to take</li>
    <li>Take the entrance exam</li>
    <li>Never get stuck on the waitlist again!</li>
  </ul>
</div>
<div class="span4 offset3 text-center">
  <h3>Ready to get started?</h3>
  <%= button_to "Sign up!", new_user_registration_path, method: :get, class: "btn btn-primary btn-large" %>
</div>
